projects/scenario_builder/xsd/ver_0.3/pfc_scenario_complex_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?purpose description="This schema defines MSDL extensions for PFC Training" ?>
<?version number="0.3" date="2020-06-01"?>
<?copyright statement="Copyright (c) 2019 by the Applied Resaearch Associates, Inc.
4300 San Mateo Blvd. NE, Suite A-220
Albuquerque, NM 87110
All rights reserved.
ARA Licenses use of this material under the Apache 2.0 LICENSE"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="com:ara:pfc:training:1" version="0.3"
  xmlns="com:ara:pfc:training:1"
  xmlns:pfc="com:ara:pfc:training:1"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
  <!-- xmlns:msdl="urn:sisostds:scenario:military:data:draft:msdl:1"  -->
  <!-- <xs:import namespace="urn:sisostds:scenario:military:data:draft:msdl:1" schemaLocation="military_scenario_1.0.0.xsd"/> -->
  <xs:complexType name="summary">
    <xs:annotation>
      <xs:documentation>
        Summary stores all general information about the current scenario file.

        Fields:
        Title: xs:string : The name of the scenario contained in the file
        Description: xs:string : A brief summary of the contents of the scenario and its purpose. Can be multiple paragraphs in format.
        Version:  xs:string : Internal version number of the current scenario file. Ideally this would be maintained over multiple official releases.
        Classification:  xs:string : Intended as away of marking the classified nature of the contents contained in the scenario file.  (e.g Non-Classified, Confidential, Secret, Top Secret, ...)
        Keywords:   xs:string : Set of comma delimited keywords that can be used for organizing multiple scenario files in to organized sets.
        Domain: xs:string :  The area of study which is most relevant to the the training scenario
        Limitations: xs:string : Any known limitations in the scenario with regards to its use.

        Example:
        Title: Gun Shot Wound Treatment
        Description: Simple emergency training on treatment of clean GSW wounds.
        Version: MIL-GSW-2019
        Classification: NON-CLASSIFIED
        Keywords: First Responder, Puncture Wounds, Gun Shot
        Domain: Emergency Response, Trauma Ward
        Limitations: Not Suited for resuscitation exercises.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="version" type="xs:string" minOccurs="0"/>
      <xs:element name="classification" type="xs:string" minOccurs="0"/>
      <xs:element name="keywords" type="xs:string" minOccurs="0"/>
      <xs:element name="domain" type="xs:string" minOccurs="0"/>
      <xs:element name="limitations" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="author">
    <xs:annotation>
      <xs:documentation>
        Important data regarding a scenario's creator.

        Fields:
        First Name: xs:string : The author's first name.
        Last Name: xs:string : The author's last name.
        Organization: xs:string : The organization that the author belongs to.
        Phone Number: xs:string : Preferred phone number for contact.
        Email: xs:string : Preferred email for contact.
        ZIP: xs:string : Author/organization's ZIP code.
        State: xs:string : Author/organization's state of residence.
        Country: xs:string : Author/organization's country of residence.

        Example:
        First Name: John
        Last Name: Smith
        Organization: ARA
        Phone Number: (123)456-7890
        Email: johnsmith@ara.com
        ZIP: 12345
        State: North Carolina
        Country: USA
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="first_name" type="xs:string" minOccurs="0"/>
      <xs:element name="last_name" type="xs:string" minOccurs="0"/>
      <xs:element name="organization" type="xs:string" minOccurs="0"/>
      <xs:element name="phone_number" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="zip" type="xs:string" minOccurs="0"/>
      <xs:element name="state" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="equipment-definition-list">
    <xs:annotation>
      <xs:documentation>List of pfc:equipment types.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="equipment" type="equipment" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equipment">
    <xs:annotation>
      <xs:documentation>
        A PFC representation of any equipment or inventory that might be used in the scenario. This could be a medical device or a
        any common item which is of significance to the scenario narrative.

        Fields:
        ID: xs:string : Identification
        Name: xs:string : Name of the equipment
        Type: xs:integer :
		Summary: xs:string : Brief summary of the equipment
        Description: xs:string : More descript summary of the equipment
        Citations: citation-ref-list : List of reference material for additional information
        Image: xs:string : Visual reference
        Properties :  property-list : Name/Value Pair of Implementation Details
        Example:
        ID: 0001
        Name: Syringe
        Type: Medical Device
		Summary: A tube for administering fluids
        Description: A tube with a nozzle and piston or bulb for sucking in and ejecting liquid in a thin stream, used for cleaning wounds or body cavities, or fitted with a hollow needle for injecting or withdrawing fluids.
        Citations: https://en.wikipedia.org/wiki/Syringe
        Image:
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string" minOccurs="1"/>
      <xs:element name="type" type="xs:integer" minOccurs="0"/>
	  <xs:element name="summary" type="xs:string" minOccurs="1"/>
      <xs:element name="description" type="xs:string" minOccurs="1"/>
      <xs:element name="citations" type="citation-ref-list" minOccurs="1"/>
      <xs:element name="image" type="xs:string" minOccurs="0"/>
      <xs:element name="properties" type="equipment-properties-list" minOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="equipment-properties-list">
    <xs:annotation>
      <xs:documentation>
        List of Citation Information that a citation-ref-list refers to
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="property" type="equipment-property" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equipment-property">
    <xs:annotation>
      <xs:documentation>
        A property is a configurable value of a piece of equipment. Each equipment can have any number of properties
        The specific values of each property will be set when it is assigned to medical-scenario as a prop in a specific scen
        Properties consist of a name,type pair with one or more fields. 

        A field is a name,type pair an item in a scene should have corrisponding property-value list which contains the instance values for all fields of the type.
        The default field is implied by the property type so a Scalar representing volume would have no Scalar field but would have unit field of type string. 
        Future extensions of this spec will aim to standardize field types
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="type" type="xs:string" />
      <xs:element name="fields"  type="property-field-list"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trauma-definition-list">
    <xs:annotation>
      <xs:documentation>List of pfc:trauma types.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trauma" type="trauma" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trauma">
    <xs:annotation>
      <xs:documentation>
        A PFC representation of a simple trauma. Injuries are associated to a Injury-Profile where severity and trauma-site are applied.
        An trauma must have a medical-name, but can also have a common-name for use in documentation. It is good to provide a list of citations
        which describe the trauma in more traditional terms in the references section, but is not required.

        Fields:
        ID: xs:string : Identification
        Common Name: xs:string : Alternative name for trauma.
        Medical Name: xs:string : Formal name for trauma.
        Citations: citation-ref-list : List of reference material for additional information.
        Description: xs:string : Brief summary of the trauma in general.
        Severity Range: trauma-severity-range : Numerical range for mapping injury occurrence to a physiology engine.

        Example:
        ID: 0002
        Common Name: Cut
        Medical Name: Laceration wound
        Citations: https://en.wikipedia.org/wiki/Wound#Open
        Description: A small laceration located on the patient's left calf.
        Severity Range: 4
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="common-name" type="xs:string" minOccurs="0"/>
      <xs:element name="medical-name" type="xs:string" minOccurs="1"/>
      <xs:element name="citations" type="citation-ref-list" minOccurs="1"/>
      <xs:element name="description" type="xs:string" minOccurs="1"/>
      <xs:element name="severity-range" type="trauma-severity-range" minOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="trauma-severity-range">
    <xs:annotation>
      <xs:documentation>
        Every trauma has a severity range which can either be presented as a numeric-range or a token range.
        Token ranges are a list of enums that describe the trauma, some are provided in the base XSD.  numeric-ranges are either
        a scalar value or a unit-scalar which include a min and max value that represent some measure of scale.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="numeric-range" type="numeric-range"/>
      <xs:element name="token-range" type="token-range"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="numeric-range">
    <xs:annotation>
      <xs:documentation>
        Numerical range of two doubles with an optional median value and unit type. The trauma definition mostly uses this for documentation.
        Scenario UIs may try to use it for visualization of trauma sets, but that is implementation defined. A physiology engine might use
        severity to set its own internal insults/injuries where valid values may be [0.0,1.0], [0.0, .5 l/s]
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="lower_bound" type="xs:double" minOccurs="1"/>
      <xs:element name="upper_bound" type="xs:double" minOccurs="1"/>
      <xs:element name="median" type="xs:double" minOccurs="0"/>
      <xs:element name="unit" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="token-range">
    <xs:annotation>
      <xs:documentation>
        Some ranges are better described with English words [low,medium,high] token-range allows a trauma definition to specificy a
        custom enummeration that a UI would then convert to a valid dropdown list when constructing a UI. trauma-profiles can not
        validate against the trauma definition with out restricting the possible ranges so this is really for internal documentation.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="token" type="xs:NCName" minOccurs="2" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citation-ref-list">
    <xs:annotation>
      <xs:documentation>
        List of strings which should be citations for source material. This could be expanded to be a more strengent
        field combination, but lets see what happens
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="citation-ref" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="treatment-plan-definition-list">
    <xs:annotation>
      <xs:documentation>List of pfc:treatment-plan types.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="treatment-plan" type="treatment-plan" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="treatment-plan">
    <xs:annotation>
      <xs:documentation>
        A Treatment Plan is intended to be a break down of a clinical practice guideline in to a series of discrete steps. The simplicity of
        the treatment plan breakdown is matched to the intended training for the scenario and not the true complexity of the full CPG.
        Future versions may allow logical branching but currently the representation is a linear flow of steps.

        Fields:
        ID: xs:string : Identification
        Common Name: xs:string : Alternative name for a treatment plan.
        Medical Name: xs:string : Formal name for a treatment plan.
        Description: xs:string : Brief summary of the treatment plan.
        Required Equipment: equipment-ref-list : List of the equipment needed to carry out the treatment plan.
        References: medical-reference-list : List of references used to create the treatment plan.

        Example:
        ID: 0003
        Common Name: Tylenol
        Medical Name: Acetaminophen
        Description: The drug acetaminophen was administered to the patient orally to reduce patient's fever.
        Required Equipment: One 500 mg Tylenol tablet
        References: https://en.wikipedia.org/wiki/Paracetamol
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="common-name" type="xs:string" minOccurs="0"/>
      <xs:element name="medical-name" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="1"/>
      <xs:element name="required-equipment" type="equipment-ref-list" minOccurs="1"/>
      <xs:element name="references" type="medical-reference-list" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="equipment-ref-list">
    <xs:annotation>
      <xs:documentation>
        List of UUIDs from the equipment list in the FORCE_SIDE section of an associated MSDL file
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="equipment-refs" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="medical-reference-list">
    <xs:annotation>
      <xs:documentation>
        Series of citations that the treatment plan was built on.
        Allows the user to refer to more detailed material beyond the simplified
        training plan.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="citations" type="citation-ref-list"/>
      <xs:element name="cpgs" type="cpg-ref-list"/>
      <!-- <xs:element name="related-learning-objectives" type="learning-objective-reference-list" /> -->
    </xs:all>
  </xs:complexType>
  <xs:complexType name="cpg-ref-list">
    <xs:annotation>
      <xs:documentation>
        List of CPG specific citations. This tag is differentiated from the citations tag in order to make it easier for user interfaces
        to parse out all associated CPGs and make mapping widgets.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpg-ref" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cpg-list">
    <xs:annotation>
      <xs:documentation>
        List of CPG specific citations. This tag is differentatated from the citations tag in order to make it easier for user interfaces
        to parse out all associated CPGs and make mapping widgets.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpg" type="cpg" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cpg">
    <xs:annotation>
      <xs:documentation>
        Clinical Practice Guideline
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="citation-ref" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="learning-objective-reference-list">
    <xs:annotation>
      <xs:documentation>
        List of UUIDs from the lessons list in the learning-objective-list in a pfc:syllabus
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="objective" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="treatment-plan-ref-list">
    <xs:annotation>
      <xs:documentation>
        List of UUIDs from the treatment-plans in the treatment-definition-list
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="treatment-plan" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trauma-profile-list">
    <xs:annotation>
      <xs:documentation>
        List of pfc:trauma-profiles.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trauma-profile" type="trauma-profile" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trauma-profile">
    <xs:annotation>
      <xs:documentation>
        A collection of Injuries which is intended to act as a boot strap medical record for an actor in a medical-scenario.
        Injury profiles can be appended either to an actor initially or mid scenario to act like a contracted wound. Injury in this
        case may include medical conditions or diagnosis, but will generally be a combat casualty wound.

        Fields:
        ID: xs:string : Identification
        Name: xs:string : Name of the collection of injuries.
        Physiology State: xs:string : The condition or state of the body or bodily functions.
        Injuries: trauma-occurence-list : List of the injuries present in the profile.
        Treatments: treatment-plan-ref-list : Treatments that can be used to treat the trauma profile.

        Example:
        ID: 0004
        Name: Blunt Force Trauma
        Physiology State: Awake and aware
        Injuries: Contusions, abrasions, lacerations, bone fractures, internal hemorrhages
        Treatments: Compression, disinfection, plaster cast, splint, intravenous injection
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="1"/>
      <xs:element name="name" type="xs:string" minOccurs="1"/>
      <xs:element name="physiology-state" type="xs:string" minOccurs="0"/>
      <xs:element name="injuries" type="trauma-occurence-list" minOccurs="1"/>
      <xs:element name="treatments" type="treatment-plan-ref-list"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trauma-profile-ref-list">
    <xs:annotation>
      <xs:documentation>
        List of UUIDs from the trauma-profiles in the profile list
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trauma-profile" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trauma-occurence-list">
    <xs:annotation>
      <xs:documentation>
        List of pfc:trauma-occurence
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trauma" type="trauma-occurence" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trauma-occurence">
    <xs:annotation>
      <xs:documentation>
        Injury occurence is an Injury-Reference with a few additional fields to help associate the trauma with a specific
        location in the body that it occured and a severity of the condition.  The severity is an abstract term which should be
        annotated in the trauma description. It could be the flow rate for a hemorrhage or a general term like mild,severe for an infection
        Even first,second,third for a burn trauma. It is left to the implementation to interprete the meaning of the severity. Severity values are
        mapped to a severity definition by the implementation as xml validation alone can not enforce these rules.

        Fields:
        ID: xs:string : Identification
        Location: xs:string : Where the trauma is located on the body.
        Description: xs:string : Brief summary of the simple trauma.
        Severity: xs:string : Numeric value meant to be interpreted by a UI and then visualized in the scenario.

        Example:
        ID: 0005
        Location: Right thigh
        Description: Gunshot wound
        Severity: 70

      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="id" type="xs:string" minOccurs="1"/>
      <xs:element name="location" type="xs:string" minOccurs="1"/>
      <xs:element name="description" type="xs:string" minOccurs="1"/>
      <xs:element name="severity" type="xs:string" minOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="medical-scenario-syllabus">
    <xs:sequence>
      <xs:element name="learning-objectives" type="learning-objective-list" />
      <xs:element name="learning-assessments" type="assessment-list" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="learning-objective-list">
    <xs:sequence>
      <xs:element name="objective" type="learning-objective" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="learning-objective">
    <xs:annotation>
      <xs:documentation>
        Objectives will be entered as goals to be met upon completion of a scenario.

        Fields:
        ID: xs:string : Identification
        Name: xs:string : Name for the learning objective being created.
        Description: xs:string : Brief summary that defines the goal of the objective when taught through the scenario.
        References: medical-reference-list : List of references used to create the learning objective.

        Example:
        ID: 0006
        Name: Burn Wound PFC
        Description: Through the completion of the scenario, the player will be able to effectively treat a burn wound over a long period of time.
        References: https://www.mayoclinic.org/diseases-conditions/burns/diagnosis-treatment/drc-20370545
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="references" type="medical-reference-list"/>
      <xs:element name="relates-to">
        <xs:complexType>
          <xs:all>
            <xs:element name="treatment-plans" type="treatment-plan-ref-list"/>
            <xs:element name="trauma-profiles" type="trauma-profile-ref-list"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="assessment-list">
    <xs:annotation>
      <xs:documentation>
        List of pfc:assessment with a required total-points field which should equal the sum of all points-avaliable in the assessment fields.  Used as a sanity check by implementations.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="total-points" default="0" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="assessment" type="assessment" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assessment">
    <xs:annotation>
      <xs:documentation>
        An assessment consists of an id and a idref to a lesson-objective.  This type is a work in practice and the criteria element is likely to be reworked beyond a string in a future revision

        Fields:
        ID: xs:string : Identification
        Name: xs:string : Name for the assessment.
        Description: xs:string : Brief summary of what the assessment evaluates.
        Points Available: xs:integer : How many total points are available for the player to earn through the scenario
        Criteria: xs:string : The standards at which a user will be evaluated by the assessment.

        Example:
        ID: 0007
        Name: Burn Wound Assessment
        Description: This assessment evaluates the user's capability to treat a burn wound over a long period of time.
        Points Available: 200
        Criteria: The player must take the correct steps in the correct sequence to treat the patient's burn for a period of 48 in-game hours.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="objective-id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="points-avaiable" type="xs:integer"/>
      <!--IF PARTIAL THEN HOW MANY TOTAL POINTS AVALIABLE-->
      <xs:element name="criteria" type="xs:string"/>
      <!--PASS/FAIL OR PARTIAL-->
    </xs:all>
  </xs:complexType>
  <xs:complexType name="medical-scenario">
    <xs:annotation>
      <xs:documentation>
        A PFC medical scenario is an extension of the MSDL.  The purpose of this extension is to better document micro level sequence of events which are to
        complex to be described in the original MSDL definition.

        The best metaphor for this extension is a stageplay script which requires a list of cast members, contains a description of the scenery and props
        to be used within the narrative along with a timeline of events.

        This metaphor maps to the list of requirements needed to accurately simulate a medical training scenario to provide the immersion needed
        to properly elevate the training and make learning transfer possible. The breakdown can be as simple or complex as is needed for a narrative to be completed.
        Various elements also have a fidelity field which is designed to allow additional information to be encoded in the scenario that is ignored by lower fidelity
        implementations.

        Fields:
        ID: xs:string : Identification
        Roles: role-list : A list of the roles that are present in the scenario
        Training Script: scene-list : A list of the scenes that are to be included in the scenario

        Example:
        ID: 0008
        Roles: Doctor, burn wound patient, assistant
        Training Script: Burn Wound PFC, Burn Wound Aftercare
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="roles" type="role-list"/>
      <xs:element name="training-script" type="scene-list"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="role-list">
    <xs:annotation>
      <xs:documentation>List of pfc:roles</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="role" type="role" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="role">
    <xs:annotation>
      <xs:documentation>
        A role is a reference to a pfc:role with an optional pfc:trauma-profile reference.
        An additional description describes the role of the unit in human terms on the level of a cliff-note.
        The short-name is a unique string to be use when parsing a training-script event to quickly refer to
        a role

        Fields:
        ID: xs:string : Identification
        Name: xs:string : Name for the role
        Short Name: xs:string : Unique string used when parsing a training-script event to quickly refer to a role
        Description: xs:string : A brief summary explaining the role

        Example:
        ID: 0009
        Name: Doctor
        Short Name: 8cxQ5
        Description: Doctor role that the player will fill to care for the wounded patient
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="short-name" type="xs:string"/>
      <xs:element name="trauma-profile-ref" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="description" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name ="role-ref-list">
    <xs:sequence>
      <xs:element name="role-ref" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="item-list">
    <xs:annotation>
      <xs:documentation>
        List of pfc:item  Which is a specific pfc:equipment item with its property values populated
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="item" type="item" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item">
    <xs:annotation>
      <xs:documentation>
        A prop is a reference to a pfc:equipment
        An additional description describes the purpose of the prop in the training simulation in human terms on the level of a cliff-note
        The short-name is a unique string to be use when parsing a training-script event to quickly refer to
        a prop

        Fields:
        Short Name: xs:string : Unique string to be used when parsing a training-script event to quickly refer to a prop
        Equipment ID: xs:string : Equipment identification
        Description: xs:string : Brief summary of the item
        Properties: property-value-list : Unique characteristics of the item

        Example:
        Short Name: vYi4s
        Equipment ID: 01
        Description: A cot for the patient to lay on
        Properties: Where the patient lays to be treated
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="short-name" type="xs:string"/>
      <xs:element name="equipment-id" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="properties" type="property-value-list"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="scene-list">
    <xs:annotation>
      <xs:documentation>List of pfc:scene(s)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="scene" type="scene" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scene">
    <xs:annotation>
      <xs:documentation>
        A scene is a reference msdl:installation with its own independent meteorological data and time of day.
        Each scene also has a time-in-simulation which represents the number of minutes since the start of the simulation this is used to sort scenes for complex training scenarios
        An additional description field allows a human readable synopsis to be added. It is likely most
        training scenarios will be a single scene, but the format supports multiple scenes for mass casualty events when training groups
        with the hope of allowing teams to train communication of information learned independent of each other and practice medical handoff techniques.

        Fields:
        Name: xs:string : Name of the scene.
        Description: xs:string : Brief summary of the scene.
        Time of day: xs:time : number of seconds from midnight.
        Time in simulation: xs:integer : Number of seconds since the simulation happened.
        Weather: xs:string : Summary Information of the Weather
        Details: Technical Details intended for instructor review

        Example:
        Name: Patient and doctor dialogue
        Description: The injured patient and the doctor discuss plans for how to treat the wound.
        Time of day:  3600  -- 01:00
        Time in simulation: 45 -- 00:00::45 second in to simulation
        Weather: xs:string : Summer;Heavy Rain;Wind
        Details:  Exterior:Desert:Tundra
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="location-id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="details" type="xs:string" minOccurs="0"/>
      <xs:element name="weather" type="xs:string" minOccurs="0"/>
      <xs:element name="time-of-day" type="xs:integer"/>
      <xs:element name="time-in-simulation" type="xs:integer"/>
      <!-- <xs:element name="weather" type="msdl:EnvironmentType" minOccurs="0"/> -->
      <xs:element name="events" type="event-list"/>
      <xs:element name="items" type="item-list"/>
      <xs:element name="roles" type="role-ref-list"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="event-list">
    <xs:annotation>
      <xs:documentation>
        List of pfc:event(s)
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="event" type="event" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="event">
    <xs:annotation>
      <xs:documentation>
        An event is a pfc:event-category-enum a pfc:event-fidelity-enum
        and a set of details.
        An additional description describes the purpose of the prop in the training simulation in human terms on the level of a cliff-note.
        At this time details is a string field a future update to this spec will define a event-detail-tye which will be a choice of the following
        event-action-details
        event-dialog-details
        event-movment-details
        event-acoustic-details
        event-environment-details
        event-script-details                         <!--Complex max fidelity code scripting to be loaded by level creators -->
        Each one with its own set of fields to be manipulated

        Fields:
        ID: xs:string : Identification
        Name: xs:string : Name for the event
        Category: event-category-enum : Describes the type of action that occurs in the event
        Fidelity: event-fidelity-enum : Intended to be used as a guide by implementations on if the details of this event an be skipped over
        Actor 1: xs:string : Actor in the event
        Actor 2: xs:string : Actor in the event
        Equipment: xs:string : Equipment needed for the event
        Details: xs:string : Future update will define event-detail-type with own set of fields to be manipulated
        Description: xs:string : Brief summary of the event

        Example:
        ID: 0010
        Name: Patient Briefing
        Category: Dialog
        Fidelity: Low
        Actor 1: Doctor
        Actor 2: Burn Wound Patient
        Equipment: N/A
        Details: event-script-details
        Description: The patient is briefed on their wounds and the plan to treat them.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="category" type="event-category-enum"/>
      <xs:element name="fidelity" type="event-fidelity-enum"/>
      <xs:element name="actor_1" type="xs:string"/>
      <xs:element name="actor_2" type="xs:string"/>
      <xs:element name="equipment" type="xs:string"/>
      <xs:element name="details" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="event-category-enum">
    <xs:annotation>
      <xs:documentation>Enumerated choice of an pfc:event category each of which describes one type of action that can occur in this event</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTION">
        <xs:annotation>
          <xs:documentation>An Action is the result of a Role acting upon a piece of equipment or another Role. Can be detailed at all fidelity levels</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DIALOG">
        <xs:annotation>
          <xs:documentation>Dialog is anytime a Role or Object performs audible dialog in the scene. Typically for Medium or Higher fidelity.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MOVMENT">
         <xs:annotation>
          <xs:documentation>Any time a Role or Object changes location in the scene .</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SOUND">
        <xs:annotation>
          <xs:documentation>Background or ambient sound affects typically at a high fidelity level as most low and medium fedeity implementations do not have sound systems.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ENVIRONMENT">
        <xs:annotation>
          <xs:documentation>Typically used to describe changes in set design or weather events almost always reserved for high fidelity simulations.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="event-fidelity-enum">
    <xs:annotation>
      <xs:documentation>Enumerated choice of an pfc:event fidelity is intended to be used as a guide by implementations on if the details of this event an be skipped over. Additional fidelity levels may be include in the future</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOW">
        <xs:annotation>
          <xs:documentation>Low fidelity implementations are intended for traditional medical simulators which use live actors are need only to know the high level details like initial injuries and placment of equipment in the scene.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MEDIUM">
        <xs:annotation>
          <xs:documentation>Medium fidelity implementations are higher level simulations which include some scripted dialog and movment. The details included at this  level  give non trainees instructions on how to act when not interacting directly with the trainee</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HIGH">
        <xs:annotation>
          <xs:documentation>High fidelity simulations are typically fully virtual simulations which must create atmospheric ad background effects to enhance immersion We are truly in the weeds at this level of scripting.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="citation-list">
    <xs:annotation>
      <xs:documentation>
        List of Citation Information that a citation-ref-list refers to
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="citation" type="citation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citation">
    <xs:annotation>
      <xs:documentation>
        General Citation Information for a bib reference

        Fields:
        UUID: xs:string : A universally unique identifier (UUID) is a 128-bit number used to identify information in computer systems
        Key: xs:string : Unique identifier for the given reference
        Authors: xs:string : The authors of the given reference
        Title: xs:string : The title of the reference
        Date: xs:string : The date that the reference was published
        Page: xs:string : The page number of the reference (if applicable)
        Accessed: xs:string : When the reference was accessed by the user

        Example:
        UUID: a313dc22-17e6-45fa-a3d5-0adf04993f10
        Key: {citekey}
        Authors: John Doe, Jane Smith
        Title: Example Reference
        Date: 01/01/2020
        Page: 20-30
        Accessed: 05/05/2020
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="uuid" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="authors" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="date" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="page" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="accessed" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="property-value-list">
    <xs:annotation>
      <xs:documentation>
        List of propety-values
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="value" type="property-value" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="property-value">
    <xs:annotation>
      <xs:documentation>
        The value for a property. They are broken into two types because properties are generally defined in definition types while values appear in instance types;
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="property-field-list">
    <xs:annotation>
      <xs:documentation>
        List of property fields for defining the properties of equipment in the syllabus
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="field" type="field-type" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="field-type">
    <xs:annotation>
      <xs:documentation>
        The value for a property. They are broken into two types because properties are generally defined in definition types while values appear in instance types;
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
    </xs:all>
  </xs:complexType>
</xs:schema>
